@model ContosoUniversity.Models.Course 

@{
    ViewData["Title"] = "Course Details";
}

<h2>Course Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credits)
        </dd>
    </dl>
</div>

<div>
    
    @if (ViewData["ActionType"]?.ToString() == "Delete")
    {
        <form asp-action="DeleteConfirmed" method="post">
            <input type="hidden" asp-for="CourseID" />
            <p>Eyyy, Ya sure about this mate? maybe you'll have regrets'</p>
            <button type="submit" class="btn btn-danger">Delete</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form>
    }
    else
    {
        <a asp-action="Edit" asp-route-id="@Model.CourseID" class="btn btn-primary">Edit</a>
        <a asp-action="Clone" asp-route-id="@Model.CourseID" class="btn btn-secondary">Clone</a>
    }
</div>